<!DOCTYPE HTML>
<html lang="ja">
    <%= partial_erb(:head) %>
    <body>
        <%= partial_erb(:navbar) %>
        <div class="container">
            <div id="tmpdata"></div>
            <div class="row">
                <%= partial_erb(:header, :locals => {:title => 'Annotate labels', :subtitle => @list.name}) %>
            </div>

            <div class="row">
                <h3>images</h3>
                <%= partial_erb(:pagination) %>
            </div>
            <%= partial_erb(:label_annotation_items) %>
            <div class="row">
                <%= partial_erb(:pagination) %>
            </div>
        </div>
        <%= partial_erb(:label_modal) %>
    </body>
</html>

